In [ ]:
!pip install face_recognition

 Import All Libraries

In [1]:
import face_recognition
import numpy as np
import pandas as pd
import cv2
import os

Create DataSet

In [2]:
known_faces_encodings = {}
name_list = []

for i in os.listdir('E:/Arti/Projects/ML_projects/Automatic_Attendance/dataset'):
    
    img = cv2.imread(os.path.join('E:/Arti/Projects/ML_projects/Automatic_Attendance/dataset',i))
    img = cv2.cvtColor(img,cv2.COLOR_BGR2RGB)
    
    name = i.split('.jpg')[0]
    
    img_encoding = face_recognition.face_encodings(img)
    known_faces_encodings[name] = img_encoding
    
    name_list.append(name)

In [3]:
from scipy.spatial import distance

In [4]:
name_present = []

take unknown images and encode them

In [13]:
#load unknown or new image and perform face_encoding on that
img = cv2.imread('E:/Arti/Projects/ML_projects/Automatic_Attendance/test/5.jpg')
unknown_face = cv2.cvtColor(img,cv2.COLOR_BGR2RGB)

unknown_faces_encodings = face_recognition.face_encodings(unknown_face)

find euclidean distance between known and unknown images

In [14]:
min = 1
s = 0 
for i in range(len(known_faces_encodings)):
    d = distance.euclidean(known_faces_encodings[name_list[i]],unknown_faces_encodings[0])
    if d<min:
        min = d
        s = i

#print(min,name[s])
name_present.append(name_list[s])

In [15]:
name_present

['narendra', 'vimal', 'akshay', 'arti', 'tarun']

In [16]:
d = {'akshay':"A",
 'amitabh':"A",
 'arti':"A",
 'lata':"A",
'mukesh':'A',
 'narendra':"A",
 'sandeep':"A",
 'savita':"A",
 'tarun':"A",
 'vimal':"A"}
for i in sorted(name_present):
    d[i]="P"

print(d)

{'akshay': 'P', 'amitabh': 'A', 'arti': 'P', 'lata': 'A', 'mukesh': 'A', 'narendra': 'P', 'sandeep': 'A', 'savita': 'A', 'tarun': 'P', 'vimal': 'P'}

Create csv file for marking attendance

In [17]:
dic = {"Name":sorted(name_list)}
df = pd.DataFrame(dic)
df.to_csv("attendance.csv",index=False)

In [18]:
data = pd.read_csv("attendance.csv")

In [19]:
data

       Name
0    akshay
1   amitabh
2      arti
3      lata
4    mukesh
5  narendra
6   sandeep
7    savita
8     tarun
9     vimal

mark attendance for a date

In [20]:
df["9-05-2021"] = d.values()

In [21]:
 df.to_csv("attendance.csv",index=False)

In [22]:
data = pd.read_csv("attendance.csv")

In [23]:
data

       Name 9-05-2021
0    akshay         P
1   amitabh         A
2      arti         P
3      lata         A
4    mukesh         A
5  narendra         P
6   sandeep         A
7    savita         A
8     tarun         P
9     vimal         P